* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100vw;
}

header h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-size: 98px;
  line-height: 1;
  letter-spacing: 2px;
  margin: 30px 0;
}

header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 4px;
  margin: 0;
}

header a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 16px 32px;
  margin-top: 40px;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url("../images/city.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.9;
  margin-right: 20px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 47px;
  }

  header h2 {
    font-size: 24px;
  }

  header h3 {
    font-size: 18px;
  }
}
